/* Tab List */
		*{ margin: 0; padding: 0;}

		html, body{
			-webkit-font-smoothing: antialiased;
			overflow: hidden;
			width: 100vw;
			height: 100vh;
			margin: 0;
			padding: 0;
		}
		#scripts {
			display: none;
		}
		#debug_messages {
			height: 150px;
			width: 45vw;
			overflow-x: hidden;
			overflow-y: auto;
			display: none;
		}

		#debug_messages::-webkit-scrollbar {
			width: 12px;
		}
		
		#debug_messages::-webkit-scrollbar-track {
			background: #212121;
		}

		#debug_messages::-webkit-scrollbar-track-piece {
			background: #212121;
		}
		
		#debug_messages::-webkit-scrollbar-thumb {
			background: #348EE1;
			border-radius: 3px;
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
		}
/* CHat */
		a {
			text-decoration: none;
			color: white;
		}
		
		.ui_element {
			position: absolute;
			width: 100vw;
			height: 100vh;
			z-index: 2;
		}
		
		#chat {
			position: absolute;
			display: block; 
			z-index: 0; 
			color: white; 
			font-family: Tahoma, Segoe UI, Verdana, sans-serif; 
			text-shadow: 1px 1px 0px rgb(0, 0, 0); 
			font-size: 16px; line-height: 30px;
			margin-left: 15px;
			direction: ltr;
		}

		#chat_messages::-webkit-scrollbar {
			width: 12px;
		}
		
		#chat_messages::-webkit-scrollbar-track {
			background: #212121;
		}

		#chat_messages::-webkit-scrollbar-track-piece {
			background: #212121;
		}
		
		#chat_messages::-webkit-scrollbar-thumb {
			background: #348EE1;
			border-radius: 3px;
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
		}

		@media screen and (min-height: 1080px) {
			#chat
			{
				font-size: 18px !important;
				font-weight: bold;
			}
		}

		#chat_input {
			display: none;
		}

		#chat ul#chat_messages
		{
			overflow-x: hidden;
			overflow-y: auto;
			height: 300px;
			margin-top: 5vh;
			transform: rotate(180deg);
			width: 45vw;
		}
		
		#chat ul#chat_messages > li
		{
			transform: rotate(-180deg);
		}
		
		#chat input#chat_msg
		{
			color: white;
			background: rgba(0, 0, 0, 0.5);
			outline: none;
			border: none;
			font-family: Myriad Pro, Segoe UI, Verdana, sans-serif;
			font-size: 13px;
			line-height: 35px;
			width: 35vw;
			padding: 5px 5px 5px 15px;
		}
		
		#chat_channels li
		{
			float: left;
			border: 1px solid black;
			list-style-type: none;
			padding: 5px 15px;
			margin: 5px 5px 0px 0px;
			text-transform: uppercase;
			font-size: 13px;
			text-shadow: none;
		}
		
		#chat_channels li#active
		{
			color: rgb(165, 69, 165);
		}

		input[type=checkbox].css-checkbox {
			position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
		}

		input[type=checkbox].css-checkbox + label.css-label {
			height:20px; 
			width: 20px;
			display:inline-block;
			/*line-height:22px;*/
			background-repeat:no-repeat;
			background-position: 0 0;
			/*font-size:22px;*/
			/*vertical-align:middle;*/
			cursor:pointer;
		}

		input[type=checkbox].css-checkbox:checked + label.css-label:after {
			content: 'x';
			color: white;
		}
		label.css-label {
			background: #7b3784;
			border-radius: 2px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}




		.playerlist {
			cursor: none;
			display: none;
			position: absolute;
			padding: 0;
			top: 20vh;
			left: 20vw;
			width: 60vw;
			height: auto;
			max-height: 60vh;
			text-align: center;
			align-content: center;
			color: #eee;
			font-size: 18px;
			overflow-y: auto;
			border-radius: 5px;
			-webkit-box-shadow: 0 0 8px 3px rgba(0,0,0,0.3); 
		}
		.p-list-header {
			width: 100%;
			height: 75px;
			margin-top: -18px;
			background: rgba(52,142,225, 0.8);
		}
		.p-list-header>p {
			color: #f9f9f9;
			font-weight: 800;
			font-style: bold;
			font-family: Tahoma;
			font-size: 18px;
			text-align: center;
			line-height: 75px;
		}
		.playerlist table {
			width: 100%;
			color: #f9f9f9;
			background: #212121;
		}
		.playerlist tr {
			text-align: center;
		}
		.playerlist td {
			border-top: 1px solid #616161;
			width: 30%;
		}

		.playerlist::-webkit-scrollbar {
			width: 12px;
		}
		
		.playerlist::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
			border-radius: 10px;
		}
		
		.playerlist::-webkit-scrollbar-thumb {
			background: #348EE1;
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		}

		#cursor {
			width: 35px;
			height: 35px;
			background: url('../images/cursor.png') 100% 100% no-repeat;
			background-size: cover;
			display: none;
		}





		/* Player Menu */
		/* TEXT: #348EE1; */
		.playermenu {
			cursor: none;
			position: absolute;
			display: none;
			top: 40vh;
			left: 65vw;
			width: 670px;
			height: 500px;
			max-height: 700px;
			background: transparent;
			color: #eee;
			font-size: 18px;
			overflow-y: scroll;
			border-radius: 5px;
			overflow-y:hidden;
		}

		.menupages {
			width: 450px;
			height:450px;
			float:left;
			overflow-y:auto;
			overflow-x:hidden;
		}
		.menupage {
			width: 450px;
			height: auto;
			display:none;
			-webkit-box-shadow: 0 0 8px 3px rgba(0,0,0,0.3);
		}
		.pageheader {
			width: 450px;
			height: 75px;
			line-height: 75px;
			background: rgba(21, 21, 21, 0.8);
			-webkit-box-shadow: inset 0 -10px 10px 5px rgba(0,0,0,0.3); 
		}
		.pageheader>b {
			font-family: Tahoma;
			color: #348EE1;
			padding-left: 20px;
		}

		.pagecontent {
			width: 450px;
			height: auto;
			min-height: 350px;
			padding: 5px 10px;
			background: #212121;
			overflow:auto;
		}

		.menupages::-webkit-scrollbar {
			width: 12px;
		}
		
		.menupages::-webkit-scrollbar-track {
			background: #212121;
		}

		.menupages::-webkit-scrollbar-track-piece {
			background: #212121;
		}
		
		.menupages::-webkit-scrollbar-thumb {
			background: #348EE1;
			border-radius: 3px;
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
		}

		.menunav {
			position: absolute;
			left: 450px;
			width: 200px;
			height:auto;
			float:left;
			-webkit-box-shadow: 0 0 8px 3px rgba(0,0,0,0.3); 
		}

		.menutitle {
			width: 200px;
			height: 75px;
			line-height: 75px;
			background: rgba(52,142,225, 0.8);
			text-align: center;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		.menutitle>b {
			font-family: Tahoma;
			color: #f9f9f9;
		}

		.nav {
			list-style:none;
			width:100%;
			padding: 0;
			margin: 0;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		.active {
			display:block;
		}

		.nav>li {
			width:100%;
			height: 50px;
			border-bottom: solid 1px #616161;
			line-height: 50px;
			text-align:center;
		}
		.nav>li>a {
			display:block;
			width:100%;
			height:100%;
			color: #f9f9f9;
			text-decoration: none;
			background: #212121;
			-webkit-transition: background 0.5s ease-out;
			font-family: Tahoma;
		}
		.nav>li>a:hover {
		background: #348EE1;
		padding-right: -5px;
		}


		/* Auth panel */
		.authpanel, .registerpanel {
			cursor: none;
			position: absolute;
			display: none;
			top: 30vh;
			left: 40vw;
			width: 350px;
			height: auto;
			background: transparent;
			color: #eee;
			font-size: 18px;
			overflow:hidden;
		}

		.panel-header {
			cursor: none;
			width: 350px;
			text-align: center;
			height: 100px;
			background: rgba(52,142,225, 0.8);
		}

		.panel-header>b {
			text-align: center;
			line-height: 100px;
			font-family: Tahoma;
			font-size: 24px;
			color: #f9f9f9;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		.panel-content {
			cursor: none;
			width: 350px;
			height: auto;
			padding: 15px 0;
			background: #212121;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		.panel-footer {
			cursor: none;
			padding-top: 15px;
			width: 350px;
			height: auto;
			background: transparent;
			align-content: center;
			text-align: center;
		}
		.error-message-auth, .error-message-register {
			width: 100%;
			height: 50px;
			line-height: 50px;
			align-content: center;
			text-align: center;
			display: inline-block;
			color: #E44132;
		}
		.row {
			width: 100%;
			height: 50px;
			line-height: 50px;
			align-content: center;
			text-align: center;
			display: inline-block;
		}

		.row>input[type="button"] {
			cursor: none;
			height: 40px;
			width: 60%;
			padding: 5px 10px;
			background: none;
			border: solid 1px #348ee1;
			color: #348ee1;
			font-family: Tahoma;
			font-weight: bold;
			font-size: 18px;
			border-radius: 5px;
			-webkit-transition: background,border,color 0.5s ease-out; 
		}

		.row>input[type="button"]:hover {
			border: solid 1px #64B0F6;
			color: #64B0F6;
		}

		.row>input[type="button"]:active {
			background: #348ee1;
			color:#f9f9f9;
		}

		.row>input[type="text"], .row>input[type="password"] {
			height: 30px;
			cursor: none;
			background: #818181;
			color: #f9f9f9;
			font-size: 16px;
			font-family: Tahoma;
			font-weight: bold;
			outline: none;
			border: none;
			border-radius: 3px;
			-webkit-box-shadow: none;
			-webkit-transition: box-shadow 0.5s ease-out; 
			padding-left: 10px;
		}

		.row>input[type="text"]:focus, .row>input[type="password"]:focus {
			-webkit-box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.3); 
		}

		.row>input[type="text"]::-webkit-input-placeholder, .row>input[type="password"]::-webkit-input-placeholder {
			font-size: 16px;
			color: #f9f9f9;
		}

		.row>label {
			font-weight: bold;
			font-family: Tahoma;
			font-size: 16px;
			color: #f9f9f9;
			padding-right: 10px;
		}
		.row>label>a {
			color: #f9f9f9;
		}

		.ftext {
			text-shadow: 0 0 5px rgba(0,0,0,0.3); 
			color: #f9f9f9;
		}

		.ftext>a {
			cursor: none;
			width: auto;
			display: inline-block;
			color: #f9f9f9;
			font-weight: bold;
			text-decoration: underline;
			-webkit-transition: color 0.5s ease-out; 
		}
		.ftext>a:hover {
			color: #348EE1;
		}


		/* Player HUD */
		.playerhud {
			display: none;
		}
		.playerstats {
			cursor: none;
			position: absolute;
			top: 85vh;
			left: 20vw;
			display: table;
			background: rgba(21, 34, 46, 0.25);
			padding: 35px 40px 40px;
			border-radius: 6px;
			box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.32), 0 1px 9px -1px #15222e;
			width: 300px;
			height: auto;
			color: #eee;
			font-size: 18px;
			border-radius: 5px;
		}
		.HUD-money {
			font-size: 36px;
			font-weight: bold;
			font-family: Tahoma;
			color: #00ff7f;
			text-shadow: 0 0 5px rgba(0,0,0,0.3); 
		}
		.HUD-money>b {
			font-size: 36px;
			font-weight: bold;
			font-family: Tahoma;
			color: #fff;
		}

		.HUD-eat {
			font-size: 20px;
			font-weight: bold;
			font-family: Tahoma;
			color: #fff68f;
			text-shadow: 0 0 5px rgba(0,0,0,0.3); 
		}
		.HUD-eat>b {
			font-size: 30px;
			font-weight: bold;
			font-family: Tahoma;
		}

		.speedo {
			cursor: none;
			position: absolute;
			top: 73vh;
			left: 40vw;
			width: auto;
			height: auto;
			background: transparent;
			color: #eee;
			font-size: 18px;
			border-radius: 5px;
		}

		#cursor {
			position: absolute;
			display: none;
			width: 35px;
			height: 35px;
			background: url('images/cursor.png') 100% 100% no-repeat;
			background-size: cover;
			z-index: 999;
			margin-left: 2px;
			margin-top: 2px;
		}