.wrapper {
  display: table;
  margin: 0 auto;
  background: rgba(21, 34, 46, 0.25);
  padding: 35px 40px 40px;
  border-radius: 6px;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.32), 0 1px 9px -1px #15222e;
}

.wrapper-header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.74);
  margin: 30px 0 15px;
  font-weight: normal;
  display: inline-block;
}

.speedo-control {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.74);
  font-weight: normal;
  display: inline-block;
  align-content: center;
}

.speedo-signal-petrol {
  margin: 0 8px;
  animation: simplePulse ease-in-out 1.1s infinite;
  display: none;
}

.speedo-signal-engine {
  margin: 0 8px;
  animation: simplePulse ease-in-out 1.1s infinite;
  display: none;
}

.speedo-signal-body {
  margin: 0 8px;
  animation: simplePulse ease-in-out 1.1s infinite;
  display: none;
}

.speedo-panel {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 30px;
  background: rgba(21, 34, 46, 0.75);
  border: 5px;
}

.speedo-panel-icon {
  width: 15px;
  height: 15px;
  margin-top: 7px;
  display: inline-block;
  line-height: 30px;
  padding-left: 10px;
  float: left;
}

.speedo-petrol, .speedo-engine, .speedo-body {
  display: inline-block;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 5px;
  float: left;
}
.gauge {
  font-family: Arial, Helvetica, sans-serif;
  background: #e7e7e7;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.09), 0 0 35px 5px rgba(255, 255, 255, 0.29);
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  position: relative;
  overflow: hidden;
  /* safari fix */
  -webkit-transform-style: flat;
  -webkit-transform: translateZ(0px);
}
.gauge.min-scaled {
  transform: scale(0.5);
}

.gauge-center {
  content: '';
  color: #fff;
  width: 60%;
  height: 60%;
  background: #15222E;
  border-radius: 100px 100px 0 0;
  position: absolute;
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  right: 21%;
  bottom: 0;
  color: #fff;
}
.gauge-center::before {
  content: '';
  font-size: 1.5em;
  width: 100%;
  padding: 10px 0 0 0;
  text-align: center;
  float: left;
  -webkit-font-smoothing: antialiased;
}
.gauge-center::after {
  content: 'км/ч';
  width: 100%;
  float: left;
  opacitY: .6;
  text-align: center;
}

.needle {
  width: 78px;
  height: 7px;
  background: #15222E;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 5px;
  position: absolute;
  bottom: 4px;
  left: 20px;
  transform-origin: 100% 4px;
  transform: rotate(0deg);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
}

.slice-colors .st {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 0;
  border-bottom: 80px solid #000;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.slice-colors .st.slice-item:nth-child(1) {
  border-bottom-color: #1eaa59;
  left: -2px;
}
.slice-colors .st.slice-item:nth-child(2) {
  border-bottom-color: #9baa1e;
  transform: rotate(135deg);
  transform-origin: right;
  top: 12px;
  left: -65px;
}
.slice-colors .st.slice-item:nth-child(3) {
  border-bottom-color: #f1c40f;
  transform: rotate(179deg);
  transform-origin: right;
  top: -20px;
  left: -62px;
  border-bottom-width: 90px;
  border-left-width: 45px;
  border-right-width: 45px;
  width: 18px;
}
.slice-colors .st.slice-item:nth-child(4) {
  border-bottom-color: #e67e22;
  transform: rotate(219deg);
  transform-origin: right;
  top: -23px;
  left: 43px;
}
.slice-colors .st.slice-item:nth-child(5) {
  border-bottom-color: #E84C3D;
  transform: rotate(240deg);
  transform-origin: right;
  right: 52px;
}

@-webkit-keyframes speed {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(170deg);
  }
  75% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes simplePulse {
  0% {
    opacity: .4;
  }
  60% {
    opacity: .98;
  } 100% {
    opacity: .2;
  }
}